*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a{
  color:#000000;
  text-decoration: none;
}

ul,
ol,
li{
  list-style: none;
}

/* h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: inherit;
  font-size: inherit;
} */

html, 
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter';
  color: #000000;
  font-size: 14px;
}

@font-face{
  font-family: 'Inter';
  src: local('Inter') url('./fonts/Inter-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal; 
}

@font-face{
  font-family: 'Iter';
  src: local('Inter') url('./fonts/Inter-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
