.productItem{
	padding: 5px;
	background: rgba(218, 215, 215, 0.631);
	border: 1px solid #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.grupItem{
	width: 350px;
	display: flex;
	align-items: center;
}

.counterBlock{
	display: flex;
	align-items: center;
}

.counter{
	width: 20px;
	height: 14px;
	background: rgb(253, 233, 195);
	text-align: center;
}

.productImg{
	margin-right: 20px;
}

.productPrice{
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}