.loading{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.product{
	margin: 10px;
	padding: 10px 50px;
}

.description{
	display: flex;
	justify-content: space-around;
	margin: 0 0 20px;
}

.price{
	display: block;
	font-size: 18px;
	margin: 12px 0px;
}

.ratingBlock{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.ratingValue{
	margin-right: 5px;
	width: 30px;
	text-align: center;
	font-size: 19px;
	border: 1px solid #f1a545;
	background: #f1a545;
}

.properties{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.proprtiesList{
	margin: 10px 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.propertiesHeader{
	font-size: 18px;
}

.propertiesValue{
	font-size: 17px;
	color: rgb(82, 82, 207);
}

.productDiscription{
	width: 80%;
	padding: 10px 40px;
	text-align: center;
}

.productDiscriptionText{
	margin: 10px;
	font-size: 16px;
	text-align: left;
}