.footer{
	width: 100%;
	background: rgb(243, 241, 241);
}

.wrapper{
	width: 1280px;
	margin: 0 auto;
	padding: 15px;
}

.logoHeader{
	font-family: 'Semox';
	font-weight: bold;
	font-size: 25px;
	margin-left: 5px;
	color: rgb(161, 5, 252);
}

.copyright{
	color:rgba(2, 2, 2, 0.514);
}