.open{
	height: 100%;
	width: 1280px;
	display: block;
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
}

.close{
	height: 0;
	display: none;
}

.modalWrapper{
	max-width: 600px;
	margin: 0 auto;
	background: rgb(255, 255, 255);
	margin-top: 15%;
	padding: 15px;
	border-radius: 15px;
}