.searchBlock{
	width: 40%;
	position: relative;
}

.autocomplete{
	position: absolute;
    top: 47px;
    left: 10px;
    width: 95%;
	background: rgb(253, 252, 250);
	border: 1px solid rgb(161, 5, 252);
	max-height: 240px;
	height: auto;
	overflow: auto;
}

.autocomleteItem{
	padding: 10px;
	border-bottom: 1px solid rgb(161, 5, 252);
	cursor: pointer;
}

.autocomleteItem:hover{
	background: rgb(161, 5, 252);
}