.selectPanel{
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.screen{
	min-width: 40px;
	padding: 10px;
	margin: 0px 20px 20px 0px;
	cursor: pointer;
}

.screen:hover{
	color: rgb(161, 5, 252);
	border-bottom: 1px solid rgb(161, 5, 252);
	padding: 10px 10px 9px 10px;
}

.selected {
	min-width: 40px;
	padding: 10px;
	margin: 0px 20px 20px 0px;
	color: rgb(255, 254, 254);
	background: rgb(161, 5, 252);
	cursor: pointer;
}