.cart{
	padding: 20px;
}

.emptyCart{
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.emptyCartText{
	display: block;
	margin: 20px 0px;
	max-width: 600px;
	font-size: 19px;
	text-align: center;
}

.line{
	margin: 20px 0px;
	width: 100%;
	border-bottom: 1px solid rgb(14, 13, 13);
}

.totalPrice{
	padding: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgba(218, 215, 215, 0.631);
}