.header{
	padding: 15px;
	border-bottom: 1px solid #EAEAEA;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	min-width: 150px;
	display: flex;
	color: rgb(161, 5, 252);
}

.logoHeader{
	font-size: 20px;
	font-weight: bold;
	display: block;
}

.buttons{
	display: flex;
}

.cartButton{
	position: relative;
}

.cartCounter{
	content: '';
	min-width: 15px;
	height: 15px;
	position: absolute;
    top: 0px;
    right: 3px;
	background: orange;
	border-radius: 5px;
	text-align: center;
}